//test-page


<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>List View</title>
	</head>
	<body>
    <div id="container">
      <h1 class="page-header">Success</h1>
<!--  <p>Title: <%= data.username %></p>
      <p>Commant: <%= data.useremail %></p> -->
    </div>